<div class="row">
    <div class="col d-flex align-items-center">
        <h2>
            Educación
        </h2>
    </div>
</div>
<!-- College  -->
<div class="row">
    <div class="col-4">
        <div class="row d-flex justify-content-center">
            <img [src]="college.imagePath" alt="logo universidad siglo 21" class="h-50 w-50">
        </div>
    </div>
    <div class="col">
        <!-- Description -->
        <div class="row"><h3>{{college.title}}</h3></div>
        <div class="row"><h5>{{college.institution}}</h5></div>
        <div class="row"><p>{{college.desc}}</p></div>
        <br>
    </div>
</div>