<header class="container" [ngStyle]="{'backgroundColor': '#DEFFFB'}">
    <div class="row align-items-center h-100">
        <div class="col-8">
            <picture id="argentinaProgramaLogo">
                <img src="assets/logo_argentina_programa.webp" alt="logo argentina programa">
            </picture>
        </div>
        <div class="col d-flex justify-content-center">
            <h2><fa-icon [icon]="faGithub" class="fa-2x"></fa-icon></h2>
        </div>
        <div class="col d-flex justify-content-center">
            <h2><fa-icon [icon]="faLinkedin" class="fa-2x"></fa-icon></h2>
        </div>
        <div class="col-2 d-flex justify-content-end">
            <button type="button" class="btn btn-dark">Login</button>
        </div>
    </div>
</header>