<div class="row sectionTitle">
    <div class="col d-flex align-items-center">
        <h2>Experiencia</h2>
    </div>
</div>


<!-- Import Pro -->
<div class="row">
    <div class="col-4">
        <div class="row d-flex justify-content-center">
            <img src="assets/logo_import_pro.png" alt="logo import pro" class="logos h-50 w-50">
        </div>
        <div class="row workplacesTitles d-flex justify-content-center align-items-center">
            <!-- <h2 class="text-center">{{ importPro.title }}</h2> -->
            <h2 class="text-center">{{ importProPrueba.positions }}</h2>
        </div>
    </div>
    <div class="col">
        <div class="row" *ngFor="let str of importPro.position1; index as i" [ngClass]="{lightLetter: i >= 2}"><h6>{{ str }}</h6></div>
        <br>
        <!-- Position 2 -->
        <div class="row" *ngFor="let str of importPro.position2; index as i" [ngClass]="{lightLetter: i >= 2}"><h6>{{ str }}</h6></div>
        <br>
        <!-- Position 3 -->
        <div class="row" *ngFor="let str of importPro.position3; index as i" [ngClass]="{lightLetter: i >= 2}"><h6>{{ str }}</h6></div>
        <br>
    </div>
</div>
<br>
<!-- Acumar -->
<div class="row">
    <div class="col-4">
        <div class="row d-flex justify-content-center">
            <img src="assets/logo_acumar.png" alt="logo import pro" class="logos h-50 w-50">
        </div>
        <div class="row workplacesTitles d-flex justify-content-center align-items-center">
            <h2 class="text-center">Acumar</h2>
        </div>
    </div>
    <div class="col">
        <!-- Position 1 -->
        <div class="row"><h6>Team Leader de Centro de Atención a Usuarios</h6></div>
        <div class="row"><h6>Julio 2012 - Junio 2021</h6></div>
        <div class="row">
            <ul>
                <li>Coordinación de equipos: soporte telefónico, visitas on-site e inventario.</li> 
                <li>Supervisión de tickets.</li>
                <li>Soporte técnico nivel 3.</li>
                <li>Gestión de compras.</li>
                <li>Despliegue y gestión de servicios: WSUS, WDS, SCCM, Software Repository,OTRS, Invgate, Telefonía Fija y Celular.</li>
                <li>Migración de Sistemas Operativos Windows 10.</li>
            </ul>
        </div>
        <br>
        <!-- Position 2 -->
        <div class="row"><h6>Análisis e Implementación de Procesos Internos</h6></div>
        <div class="row"><h6>Enero 2019 - Junio 2021</h6></div>
        <div class="row">
            <ul>
                <li>Relevamiento de procesos internos de la Coordinación de Informática.</li>
                <li>Propuestas de mejoras y automatización.</li>
                <li>Implementación en herramienta de tickets / procesos (Invgate).</li>
            </ul>
        </div>
        <br>
        <!-- Position 3 -->
        <div class="row"><h6>Agente de Soporte Técnico</h6></div>
        <div class="row"><h6>Julio 2010 - Junio 2012</h6></div>
        <div class="row">
            <ul>
                <li>Soporte técnico a usuarios de manera telefónica y presencial.</li>
                <li>Instalación de sistemas operativos y software.</li>
                <li>Creación y mantenimiento de imágenes de Sistemas Operativos.</li>
                <li>Tareas de infraestructura de red.</li>
            </ul>
        </div>
        <br>
    </div>
</div>