<div class="row">
    <div class="col d-flex align-items-center">
        <h2>Experiencia</h2>
    </div>
</div>


<!-- Import Pro -->
<div class="row">
    <div class="col-4">
        <div class="row d-flex justify-content-center">
            <img [src]="importPro.imagePath" alt="logo import pro" class="logos h-50 w-50">
        </div>
        <div class="row workplacesTitles d-flex justify-content-center align-items-center">
            <!-- <h2 class="text-center">{{ importPro.title }}</h2> -->
            <h2 class="text-center">{{ importPro.name }}</h2>
        </div>
    </div>
    <div class="col">
        <!-- Position 1 -->
        <div class="row"><h6>{{ importPro.rol1.title }}</h6></div>
        <div class="row"><h6>{{ importPro.rol1.date }}</h6></div>
        <div class="row">
            <ul>
                <li>{{ importPro.rol1.tasks[0] }}</li> 
            </ul>
        </div>
        <!-- Position 2 -->
        <div class="row"><h6>{{ importPro.rol2.title }}</h6></div>
        <div class="row"><h6>{{ importPro.rol2.date }}</h6></div>
        <div class="row">
            <ul>
                <li>{{ importPro.rol2.tasks[0] }}</li> 
            </ul>
        </div>
        <!-- Position 3 -->
        <div class="row"><h6>{{ importPro.rol3.title }}</h6></div>
        <div class="row"><h6>{{ importPro.rol3.date }}</h6></div>
        <div class="row">
            <ul>
                <li>{{ importPro.rol3.tasks[0] }}</li> 
            </ul>
        </div>
    </div>
    <br>
</div>
<br>

<!-- Acumar -->
<div class="row">
    <div class="col-4">
        <div class="row d-flex justify-content-center">
            <img [src]="acumar.imagePath" alt="logo import pro" class="logos h-50 w-50">
        </div>
        <div class="row workplacesTitles d-flex justify-content-center align-items-center">
            <h2 class="text-center">{{ acumar.name }}</h2>
        </div>
    </div>
    <div class="col">
        <!-- Position 1 -->
        <div class="row"><h6>{{ acumar.rol1.title }}</h6></div>
        <div class="row"><h6>{{ acumar.rol1.date }}</h6></div>
        <div class="row">
            <ul>
                <li *ngFor="let task of acumar.rol1.tasks">{{ task }}</li> 
            </ul>
        </div>
        <br>
        <!-- Position 2 -->
        <div class="row"><h6>{{ acumar.rol2.title }}</h6></div>
        <div class="row"><h6>{{ acumar.rol2.date }}</h6></div>
        <div class="row">
            <ul>
                <li *ngFor="let task of acumar.rol2.tasks">{{ task }}</li> 
            </ul>
        </div>
        <br>
        <!-- Position 3 -->
        <div class="row"><h6>{{ acumar.rol3.title }}</h6></div>
        <div class="row"><h6>{{ acumar.rol2.date }}</h6></div>
        <div class="row">
            <ul>
                <li *ngFor="let task of acumar.rol3.tasks">{{ task }}</li> 
            </ul>
        </div>
        <br>
    </div>
</div>