<div class="row justify-content-center" id="presentation">
    <div class="col-2 namePosition d-flex justify-content-center align-items-center">
        <img class="img-fluid rounded-circle" id="profilePic" src="assets/picture.jpg" alt="banner">
    </div>
    <div class="col-3 namePosition d-flex align-items-center">
        <div class="row">
            <h1>Mariano Martin Marra</h1>
            <h3 class="fw-light">Full Stack Developer Jr.</h3>
        </div>
    </div>
    <div class="col-6 d-flex justify-content-center align-items-center" id="introduction">
        <h4 class="text-center fw-light">“Me dedico a la informática desde hace 23 años. En este recorrido he aprendido diversas habilidades 
            que me permiten moverme en varios sectores. Mis fuertes: Proactividad y orientación a resolución de problemas.”</h4>
    </div>
</div>
